<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple CMS : <%= @page_title || "Admin User" %></title>
</head>
<body>
<%#before layout%>
    <%= yield %>
    <%#after layout%>
</body>
</html>